* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #153677, #4e085f);
}
.containers {
    /* height: 100vh; */
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app {
  margin: 0 200px 0 0 ;
  width: 100%;
  max-width: 540px;
  background: #fff;
  padding: 40px 30px 30px;
  border-radius: 20px;
}

.rows {
   display: flex;
   align-items: center;
  /* justify-content: space-between; */
  background: #edeef0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: #edeef0;
  padding: 10px;
  font-weight: bolder;
  font-size: 1em;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: linear-gradient(#fa9505,
  #bd4a01 );
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
ul li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(/images/Screenshot\ 2024-11-10\ 114948.png);
  background-size: cover;
  background-position: center;
  top: 9px;
  left: 8px;
}
ul li.checked {
  text-decoration: line-through;
  color: #555;
}
ul li.checked::before {
  background-image: url(/images/download.jpg);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover {
  background: #edeef0;
  border-radius: 50%;
}

.heading {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}
.heading h2 {
    font-size: 2rem;
  margin-left: 40%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.heading h2 img {
  width: 100px;
  margin-right: 10px;
}
